
#stories{
    border-collapse: collapse;
    margin: 35px;
}
#ShopCart{
  float: right;
  width: 150px;
  height: 150px;
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
}
#CartText{
    font-family: 'Arial';
    font-style:'Bold';
    font-size: 22pt;
    text-align:'center';
}
